:root {
  --bg: #16171d;

  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: dark;
  color: #9ca3af;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--bg);
}

#root {
  min-height: 100svh;
}